*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 250;
}

h4{
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 350;
}

body{
    background-color: #0C110D;
}

a{
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 52rem;
    gap: 2.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.logo{
    display: flex;
    height: 5.2rem;
    width: 3.5rem;
    margin-left: 2.7rem;
    margin-top: 0.15rem;
}

header{
    display: inline-flex;
}

footer{
    justify-content:center;
    margin-top: 30rem;
    display: inline-flex;
    gap: 2.75rem;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: #111D12;
    width: 100%;
}

.textofooter{
    display: flex;
    margin-top: 3.65rem;
}

#contatofooter{
    display: flex;
    background-color: #111D12;
    justify-content: center;
    padding-right: 1rem;
}

#contatofooter p{
    opacity: 0.9;
    font-size: 0.85rem;
}

h1{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 2.325rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
    font-weight:500;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Content */
.info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}