*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 250;
}

h4{
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 350;
}

body{
    background-color: #0C110D;
}

a{
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 52rem;
    gap: 2.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.logo{
    display: flex;
    height: 5.2rem;
    width: 3.5rem;
    margin-left: 2.7rem;
    margin-top: 0.15rem;
}

header{
    display: inline-flex;
}

footer{
    justify-content:center;
    margin-top: 30rem;
    display: inline-flex;
    gap: 2.75rem;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: #111D12;
    width: 100%;
}

.textofooter{
    display: flex;
    margin-top: 3.65rem;
}

#contatofooter{
    display: flex;
    background-color: #111D12;
    justify-content: center;
    padding-right: 1rem;
}

#contatofooter p{
    opacity: 0.9;
    font-size: 0.85rem;
}

h1{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 2.325rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
    font-weight:500;
}


.container{
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.gallery-wrapper{
    overflow-x: auto;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: red;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, white 200%);
}

.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: red;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, white 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;
}

.arrow-right{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, white 200%);
}

.item{
    width: 310px;
    height: 520px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    background-size: cover;
    background: no-repeat center;
    border: 2px solid red;
}

.current-item{
    opacity: 1;
    /*width: 280px;
    height: 480px;*/
}

.gallery-wrapper::-webkit-scrollbar{
    display: none;
}
